@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container-mixer {
    font-size: 1.5rem;
    background-color: grey;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    padding: .3em;
}

input {
    margin: 2em 2em;
    padding-block: 2em; 
}

.hex-name {
    font-size: 2rem;
    text-transform: uppercase;
}

.background {
    width: 100vw;
    height: 100vh;
}